* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: #e3e3e3;
}

.container {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.board {
  height: 80vh;
  width: 25vw;
  border: 1px solid #6d6d6d;
  border-radius: 15px;
  box-shadow: rgba(143, 143, 143, 0.2) 0px 2px 5px 0px;
}

.board > .board-header {
  padding: 10px 20px;
  font-weight: 700;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.task-list {
  margin-top: 15px;
  height: 90%;
}

.board-item {
  margin: 10px;
  padding: 10px 15px;
  border: 1px solid #6d6d6d;
  border-radius: 10px;
  height: 100px;
  cursor: grab;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-item:hover {
  background-color: #2a2a2a;
  .edit-task,
  .delete-task {
    /* display: block; */
    visibility: visible;
    cursor: pointer;
  }
}

.edit-task,
.delete-task {
  visibility: hidden;
  /* display: none; */
  align-self: flex-start;
  color: #d9d9d9;
  padding: 5px;
}

.add-class-btn {
  padding: 15px 20px;
  border-radius: 7px;
  margin: 10px 20px;
  background-color: #444444;
  color: #e3e3e3;
  border: none;
  font-weight: 400;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 2px 5px 0px;
}

.add-class-btn:hover {
  background-color: #333333;
}

.dragging {
  opacity: 40%;
}

.task-text {
  width: 70%;
}
